.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 520px;
  max-width: 95%;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.field {
  position: relative;
  flex: 1;
}

.prefix {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.inputPrefix {
  padding-left: 30px;
}

/* MEMBROS */
.memberRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/* avatar */
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.membersHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.membersActions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

/* remover */
.removeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

/* BOTÕES */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.secondary {
  background: transparent;
  border: none;
  color: #6b7280;
  cursor: pointer;
}

.primary {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}